//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	@apply bg-base text-contrast px-16 py-12 flex relative border-b border-gray-100;

	@screen tablet-landscape {
		padding-left: calc( ( 100% - theme( 'screens.desktop' ) ) / 2 );
		padding-right: calc( ( 100% - theme( 'screens.desktop' ) ) / 2 );
	}
	.site-description {
		@apply no-underline;
	}

	.site-branding {
		@screen tablet-landscape {
			@apply pl-16;
		}

		a {
			@apply no-underline;

			.custom-logo {
				@apply max-h-50 w-auto;
			}
		}
	}

	.main-navigation {
		@screen tablet-landscape {
			@apply pr-16;
		}
	}

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}
}
