//--------------------------------------------------------------
// Landing page styles.
//--------------------------------------------------------------

.page-template-landing-page {
	@apply bg-tertiary;

	.landing-page-group {
		@apply overflow-hidden;

		/* stylelint-disable */
		padding-block-start: 48px !important;
		/* stylelint-enable */
	}

	.site-header {
		@apply bg-transparent border-none py-24;

		transition: background 0.1s ease-in-out;

		.main-navigation {
			@apply w-full h-48 pr-0;
			margin-left: 150px;

			#primary-menu {
				@apply relative;

				.button {
					@apply absolute right-48 top-12 bg-transparent border border-gray-600;

					transition: top 0.3s ease-in-out;

					&:hover,
					&:focus,
					&:active {
						@apply bg-primary bg-opacity-100 text-base border-primary;
					}

					@screen desktop-min {
						@apply right-0;
					}
				}

				&.menu .menu-item:not(.button) a:hover {
					@apply bg-transparent text-primary;
				}
			}
		}

		&.scrolled {
			@apply bg-tertiary;

			.main-navigation {
				#primary-menu {
					.button {
						@apply top-0;
					}
				}
			}
		}
	}

	.site-main {
		@apply mt-0 pb-0;

		top: 0;
	}

	.site-footer {
		@apply bg-secondary flex flex-col justify-between text-base;

		.footer-logo {
			@apply mx-16 mb-16;
			max-width: 200px;
			max-height: 30px;
		}

		.lp-footer-nav {
			@apply text-center;
		}

		.site-info {
			@apply text-center mt-16;
		}

		@screen desktop {
			.footer-logo{
				@apply mx-0;
			}

			.site-info {
				@apply px-0;
			}
		}

		@screen max-tablet-portrait {
			.footer-logo{
				@apply mx-auto;
			}
		}

		@screen tablet-portrait {
			@apply flex-row;

			.footer-logo {
				@apply mb-10;
			}

			.site-info {
				@apply text-right mx-0 mt-0;
			}
		}
	}
}
